:root {
  --color-primary: #999a9b;
--color-secondary: #0f8c4d;
--color-black-dark: #000000;
--color-black-white: #a99ea4;
--color-white: white;
--primary-font: "Lora", serif;
--secondary-font: "Roboto", serif;
--cury-font: "Delicious Handrawn", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--color-primary);
  font-family: var(--primary-font);
}

/* Header Stylings */
.top-header {
  display: flex;
  justify-content:space-between;
  padding: 4rem 8rem;
  border-bottom: 1px solid var(--color-white);
}

@media screen and (max-width: 56.25em) {
  .top-header {
    padding: 4rem 4rem;
  }
  
}

@media screen and (max-width: 50em) {
  .top-header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
}

.header-social-icons{
  display: flex;
  gap: 1rem;
}

.social-icon {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black-white);
  display: flex;
  --header-social-icon-width: 3rem;
  width: var(--header-social-icon-width);
  height: var(--header-social-icon-width);
  border-radius: 50%;
  border: 2px solid currentColor;
  justify-content: center;
  align-items: center;
}
.header-logo-link {
text-decoration: none;
}

.logo-text--main {
  text-transform: uppercase;
  color: var(--color-black-dark);
  font-weight: 800;
  font-size: 4rem;
  text-align: center;

}

.logo-text--main span {
  color: var(--color-secondary);
}
.logo-text--sub {
text-transform: uppercase;
color: var(--color-primary);
font-size: 2rem;
text-align: center;
font-weight: 700;
}


@media screen and (max-width: 50em) {
  .header-search {
    width: 98%;
    display: flex;
  }    
}
  
.header-search-input, .header-search-button {
  padding: 1rem 1rem;
  font-family: inherit;
  outline: none;
}
.header-search-input {
  background-color: var(--color-white);
  border:1px solid var(--color-black-white);
  flex-grow: 1;
}

.header-search-button {
  background-color: var(--color-primary);
  border: 1px var(--color-secondary);
  color: var(--color-black-dark);
  border-radius: 3px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  padding: 4rem 0;
}

@media screen and (max-width: 37.5em) {
 .header-nav-list {
  gap: 2rem;
  flex-wrap: wrap;
 }
}

.header-nav-list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black-dark);
  font-size: small;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

/* End of Header Stylings */

/* Hero Section Stylings */
.hero-section {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.692)), url(../assets/img/hero-bckg.jpg);
  background-position:center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text-box {
  width: 70%;
}

@media screen and (max-width:56.25em) {
  .hero-text-box {
    width: 95%;

  }
  
}

.hero-text-main {
  font-size: 6rem;
  text-align: center;
  color: var(--color-white);
  text-transform: capitalize;
}

@media screen and (max-width:56.25em){
  .hero-text-main {
    font-size: 4rem;
  }
}

.hero-text-sub {
  text-align: center;
  color: var(--color-white);
  font-size: 2.5rem;
  font-family: var(--cury-font);
  word-spacing: 1rem;
  outline-color: var(--color-black-dark);
  text-transform: capitalize;
  margin: 4rem 0;
}
.hero-text-sub span {
  color: var(--color-black-white);
  font-weight: 800;
  font-size: 2rem;
}

.hero-ctas {
  display: flex;
  justify-content: center;
  gap: 2rem;

}

.hero-cta-link {
  background-color: var(--color-white);
  color: var(--color-black-dark);
  text-decoration: none;
  font-size: large;
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 500;
  display: inline-block;
}

.hero-cta-link--main {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* End of hero section stylings */
